# Linux submodules
[submodule "a"]
    path = linux/vim/bundle/a.vim
    url = https://github.com/vim-scripts/a.vim.git

[submodule "c"]
    path = linux/vim/bundle/c.vim
    url = https://github.com/vim-scripts/c.vim.git

[submodule "command-t"]
    path = linux/vim/bundle/Command-T
    url = https://github.com/wincent/Command-T.git

[submodule "nerdcommenter"]
    path = linux/vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree"]
    path = linux/vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "oh-my-zsh"]
    path = linux/oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git

[submodule "rails"]
    path = linux/vim/bundle/vim-rails
    url = https://github.com/tpope/vim-rails.git

[submodule "snipmate"]
    path = linux/vim/bundle/snipmate.vim
    url = https://github.com/msanders/snipmate.vim.git

[submodule "vim-coffee-script"]
    path = linux/vim/bundle/vim-coffee-script
    url = https://github.com/grayrest/vim-coffee-script.git

[submodule "vim-scala"]
    path = linux/vim/bundle/vim-scala
    url = https://github.com/ewiplayer/vim-scala.git

# OSX submodules
[submodule "oh-my-zsh-osx"]
    path = osx/oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git

[submodule "vim-coffee-script-osx"]
    path = osx/vim/bundle/vim-coffee-script
    url = https://github.com/grayrest/vim-coffee-script.git

[submodule "nerdcommenter-osx"]
    path = osx/vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree-osx"]
    path = osx/vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "vim-scala-osx"]
    path = osx/vim/bundle/vim-scala
    url = https://github.com/ewiplayer/vim-scala.git
