[submodule "oh-my-zsh"]
	path = linux/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git

[submodule "vim-coffee-script"]
  path = linux/vim/bundle/vim-coffee-script
  url = https://github.com/grayrest/vim-coffee-script.git
