[submodule "a"]
    path = vim/bundle/a.vim
    url = https://github.com/vim-scripts/a.vim.git

[submodule "alex"]
    path = vim/bundle/alex.vim
    url = https://github.com/vim-scripts/alex.vim.git

[submodule "Align"]
    path = vim/bundle/Align
    url = https://github.com/vim-scripts/Align.git

[submodule "command-t"]
    path = vim/bundle/Command-T
    url = https://github.com/wincent/Command-T.git

[submodule "nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git

[submodule "nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git

[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git

[submodule "rails"]
    path = vim/bundle/vim-rails
    url = https://github.com/tpope/vim-rails.git

[submodule "snipmate"]
    path = vim/bundle/snipmate.vim
    url = https://github.com/msanders/snipmate.vim.git

[submodule "supertab"]
    path = vim/bundle/supertab
    url = https://github.com/ervandew/supertab.git

[submodule "syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git

[submodule "tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git

[submodule "vim-coffee-script"]
    path = vim/bundle/vim-coffee-script
    url = https://github.com/kchmck/vim-coffee-script.git

[submodule "vim-hoogle"]
    path = vim/bundle/vim-hoogle
    url = https://github.com/Twinside/vim-hoogle.git

[submodule "vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
